
      <h2 style="margin-bottom:50px">ユーザー情報詳細</h2>


        <div class="show_btn col-xs-7 col-md-offset-5">
          <%=link_to "編集", edit_admin_customer_path(@customer.id), class:"btn btn-success" %>
          <%=link_to "削除", admin_customer_path(@customer.id),method: :delete, class:"btn btn-danger" %>
        </div>


              <table class="show-table">

                <tbody>
                  <tr>
                    <td>名前:</td>
                    <td><%= @customer.name_full %></td>
                  </tr>

                  <tr>
                    <td>フリガナ:</td>
                    <td><%= @customer.name_full_kana %></td>
                  </tr>

                  <tr>
                    <td>郵便番号：</td>
                    <td><%= @destination.postal_code %></td>
                  </tr>
                  <tr>
                    <td>住所：</td>
                    <td><%= @destination.address_full %></td>
                  </tr>

                  <tr>
                    <td>電話番号：</td>
                    <td><%= @customer.phone_number %></td>
                  </tr>
                  <tr>
                    <td>メールアドレス：</td>
                    <td><%= @customer.email %></td>
                  </tr>
                </tbody>
              </table>
            </div>

              <div class="col-xs-7 col-md-offset-5">
                <%= link_to "レビュー一覧",admin_review_path, class:"btn btn-primary"%>
                <%= link_to "購入一覧", admin_admin_user_orders_path(@customer.id), class:"btn btn-primary"%>
              </div>
