<div>
  <h2><%= @customer.name_first %><%= @customer.name_last %>さん</h2>
  <p>レビュー数：<%= @reviews.count %></p>
  <h3>レビュー一覧</h3>
  <% @reviews.each do |review| %>
  <div class="card" style="margin-bottom:10px;">
    <div class="card-body">
      <div class="card-title" style="position:relative;">
        <p>タイトル：<%= review.title %>
          <span style="position:absolute;right:20px;">
            <%= review.created_at.year %>年<%= review.created_at.month %>月<%= review.created_at.day %>日
          </span>
        </p>
      </div>
      <div class="row no-gutters">
        <div class="col-md-8 w-75">
          <p class="card-subtitle" style="color:yellow;">
            <% review.rank.times do %>
            ★
            <% end %>
          </p>
          <p class="card-text"><%= review.body %></p>
        </div>
        <div class="col-md-4">
          <%= link_to "編集",edit_admin_review_path(review), class:"btn btn-info btn-sm"%>
          <%= link_to "削除",admin_review_path(review),method: :delete, data: {confirm: "本当に削除しますか？"}, class:"btn btn-danger btn-sm" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>