<div class="container">
<div class="col-lg-11 s" style="height:100%;">
	<h1>レーベル編集!!</h1>

<%= form_for(@label, url: admin_artist_path) do |f|%>

 <% if @artist.errors.any? %>
 <div id="error_explanation">
 <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this book from being saved:</h2>
 <ul>
      <% @artist.errors.full_messages.each do |message| %>
         <li><%= message %></li>
      <% end %>

 </ul>
 </div>
 <%end%>
<div class="field">
<label class="col-sm-3">レーベル名</label><br>
<div class="col-sm-9">
 <%= f.text_field :name ,:size => "27x15"%>
  </div>
 <%= f.submit "編集完了", class: "btn btn-success width pull-right" %><br>
 </div>

<%end%>



</div>
</div>