
<div class="container">
<div class="col-lg-11 s" style="height:100%;">
	<h1>アーティスト一覧!!</h1>
	<table class="table">
	<%@artists.each do |artist|%>
<tbody>
	<tr>
	<td><%= artist.id %></td>
	<td><%= artist.name %></td>
	<td><div class="btn btn-default"><%= link_to "削除", admin_artist_path(artist.id),method: :delete %></div>
　<div class="btn btn-default"><%= link_to "編集", edit_admin_artist_path(artist.id) %></div></td>
　</tr>
</tbody>
	<%end%>
</table>
<%= paginate @artists, class: "paginate" %>
</div>
</div>