
<!-- 受注一覧 -->


<div>
  <h1>受注一覧</h1>

  <% @orders.each do |order| %>
  <div>
    <%= link_to "詳細", order_path(order) %>
    <%= order.customer.name_full %>

    <%= form_for order do |f| %>
      <%= f.select :shipping_status, Order.shipping_statuses.keys.to_a %>
    <% end %>

    <% order.orders_details.each do |order| %>
      <%= order.product.name %>
      <%= order.amount %>
    <% end %>
  </div>
  <% end %>




</div>

