<!-- ユーザー別受注一覧 -->
<div>
  <h4><%= @customer.name_full %>さん</h4>

  <% @orders.each_with_index do |order, i| %>
  <div class="row contents-box">
    <div class="col-md-8 content">
      <table class="table">
      <% order.orders_details.each do |order_detail| %>
        <tr>
          <td>
            <%= order_detail.product.name %>
          </td>
          <td>
            <%= order_detail.amount %>個
          </td>
          <td>
            小計: <%= order_detail.amount * order_detail.price %>円
          </td>
        </tr>
      <% end %>
      </table>
    </div>

    <div class="col-md-4">
      <p>
        受注日時: <%= order.created_at.to_date %>
      </p>

      <%= form_for(order, url:admin_order_path(order), method: :put) do |f| %>
        <%= f.select :shipping_status, Order.shipping_statuses.keys.to_a %>
        <%= f.submit "変更する" %>
      <% end %>
      <p>合計: <%= @totals[i] %>円</p>
      <p><%= link_to "受注詳細を見る", admin_order_path(order) %></p>
    </div>
  </div>
  <% end %>

</div>
