<ul>
<% products.each do |product| %>
  <% if product.is_deleted == false %>
  <div class="product-box float-left">
    <li>
      <%= link_to admin_product_path(product.id) do %>
        <%= attachment_image_tag product, :product_image, size: "198x198", fallback: "no_image.jpg", size:'198x198', class: "image-border" %>
      <% end %>
      <% if product.on_sale == true %>
        <p class="label label-available">
          販売中</br>
          商品id:<%= product.id %>
        </p>
      <% else %>
        <p class="label label-unavailable">
          販売停止中</br>
          商品id:<%= product.id %>
        </p>
      <% end %>
      <p class="h5"><%= link_to product.name, admin_product_path(product.id) %></p>
      <% if product.label_id.nil? %>
        <p class="small">削除されたレーベル</p>
      <% else %>
        <p class="small"><%= product.label.name %></p>
      <% end %>
      <p><%= product.price %> 円</p>
      <p>在庫数: <%= product.stock %>個</p>
    </li>
  </div>
  <% end %>
<% end %>
</ul>
