<ul>
<% products.each do |product| %>
  <% if product.is_deleted == false %>
  <div class="product-box float-left">
    <li>
      <%= attachment_image_tag product, :product_image,:fill, 198, 198, fallback: "no_image.jpg", size:'198x198', class: "image-border" %>
      <% if product.on_sale == true %>
        <p class="label">販売中</p>
      <% else %>
        <p>販売停止中</p>
      <% end %>
      <p class="h5"><%= link_to product.name, admin_product_path(product.id) %></p>
      <p class="small"><%= product.label.name %></p>
      <p><%= product.price %> 円</p>
      <p>在庫数: <%= product.stock %>個</p>
    </li>
  </div>
  <% end %>
<% end %>
</ul>
