<div>
  <h2>お支払い方法確認</h2>
  <h5>お支払い方法を選択して下さい</h5>
  <%= form_with model: @order, url: confirm_order_path, local: true do |f| %>
    <%= f.hidden_field  :postal_code, value: @order.postal_code %>
    <%= f.hidden_field  :address, value: @order.address %>
    <%= f.hidden_field  :reciever, value: @order.reciever %>
    <% Order.payments.keys.each_with_index do |payment,i| %>
      <%= f.radio_button :payment, payment,id:"payment#{i}", required: true %>
      <label for=<%= "payment#{i}" %>>
        <%= payment %>
      </label><br>
    <% end %>
    <div>
      <%= link_to "カートに戻る", cart_items_path, class:"btn btn-outline-dark" %>
      <%= f.submit "次に進む", class:"btn btn-success"%>
    </div>
  <% end %>
</div>
