<div>
  <h2>購入履歴</h2>
  <% @orders.each_with_index do |order, i| %>
  <div>
    <% order.orders_details.each do |order| %>
      <%= link_to order.product.name, product_path(order.product) %>
      <p><%= order.product.artist.name %></p>
      <p>商品単価：<%= order.price %></p>
      <p>商品個数：<%= order.amount %></p>
      <p>小計：<%= order.price * order.amount %></p>
      <span class="btn btn-outline-primary">レビューを書く</span>
    <% end %>
  </div>
  <div>
    <p>購入日：<%= order.created_at.year %>年<%= order.created_at.month %>月<%= order.created_at.day %>日</p>
    <p><%= order.shipping_status %></p>
    <p>送付先：<%= order.address %></p>
    <p>宛名：<%= order.reciever %></p>
    <p>〒<%= order.postal_code %></p>
    <p>小計：<%= @totals[i] %></p>
    <p>送料：<%= order.shipping_fee %></p>
    <p>内税：〇〇</p>
    <p>合計：<%= @totals[i] + order.shipping_fee %></p>
  </div>
  <% end %>
</div>

