<h1>商品登録</h1>
<div>
  <%= form_for @product do |product| %>

  <h4>商品名</h4>
  <%= product.text_field :name %>

  <h4>アーティスト名</h4>
  <%= product.label :artist_id %>
  <%= product.collection_select :artist_id, Artist.all, :id, :name, :prompt => "選択して下さい" %>

  <h4>商品画像</h4>
  <%= product.attachment_field :product_image %>

  <h4>価格</h4>
  <%= product.text_field :price %>

  <h4>レーベル名</h4>
  <%= product.label :label_id %>
  <%= product.collection_select :label_id, Label.all, :id, :name, :prompt => "選択して下さい" %>

  <h4>ジャンル</h4>
  <%= product.label :genre_id %>
  <%= product.collection_select :genre_id, Genre.all, :id, :name, :prompt => "選択して下さい" %>

  <div class="disc">
  <h4>曲名</h4>

    <%= product.fields_for :discs do |discs| %>
      <%= render 'admin/products/nestform/disc_fields', disc: discs %>
    <% end %>
    <div class="links">
      <%= link_to_add_association "discを追加", product, :discs, partial: "admin/products/nestform/disc_fields" %>
    </div>
  </div>


  <%= product.submit '追加する' %>
  <% end %>
</div>
