<h1>商品登録</h1>
<div>
  <%= form_for @product do |product| %>

  <h4>商品名</h4>
  <%= product.text_field :name %>

  <h4>アーティスト名</h4>
  <%= product.label :artist_id %>
  <%= product.collection_select :artist_id, Artist.all, :id, :name, :prompt => "選択して下さい" %>

  <h4>商品画像</h4>
  <%= product.attachment_field :product_image %>

  <h4>価格</h4>
  <%= product.text_field :price %>

  <h4>レーベル名</h4>
  <%= product.label :label_id %>
  <%= product.collection_select :label_id, Label.all, :id, :name, :prompt => "選択して下さい" %>

  <h4>ジャンル</h4>
  <%= product.label :genre_id %>
  <%= product.collection_select :genre_id, Genre.all, :id, :name, :prompt => "選択して下さい" %>

  


  <h4>曲名</h4>
    <%= product.nested_fields_for :discs, wrapper_tag: :tr do |disc| %>
    <td>
      <%= disc.text_field :order, class: 'form-control' %>
    </td>
      <table class="table table-striped table-bordered table-hober">
          <%= disc.nested_fields_for :songs, wrapper_tag: :tr do |song| %>
        <td>
          <%= song.text_field :name, class: 'form-control' %>
        </td>
        <td>
          <%= song.remove_nested_fields_link 'Delete', class: 'btn btn-danger', role: 'button' %>
        </td>
        <% end %>
      </table>
      <%= disc.add_nested_fields_link :songs, 'Add song', class: 'btn btn-primary', role: 'button' %>
    <% end %>
  <%= product.add_nested_fields_link :discs, 'Add disc', class: 'btn btn-primary', role: 'button' %>



  <%= product.submit '追加する' %>
  <% end %>
</div>
