<div class="show-box">
  <div class="row">
    <div class="col-md-6">
      <%= attachment_image_tag @product, :product_image, size:'300x300', fallback: "no_image.jpg" %>
    </div>

    <div class="col-md-6">
      <div class="float-left">
        <%= link_to "編集", edit_admin_product_path, class: "btn btn-primary" %>
      </div>
      <div>
        <%= link_to "削除", admin_product_path, method: :delete, class: "btn btn-danger", style: "margin-left: 10px;" %>
      </div>
      <div class="border-bottom">
        <h3><%= @product.name %></h3>
        <% if @product.artist_id.nil? %>
          <p>削除されたアーティスト</p>
        <% else %>
          <p>アーティスト名:　<%= @product.artist.name %></p>
        <% end %>
      </div>
      <p>状態:<%= @on_sale %></p>
      <% if @product.label_id.nil? %>
        <p>削除されたレーベル</p>
      <% else %>
        <p>レーベル:<%= @product.label.name %></p>
      <% end %>
      <% if @product.genre_id.nil? %>
        <p>削除されたジャンル</p>
      <% else %>
        <p>ジャンル:<%= @product.genre.name %></p>
      <% end %>
      <p>在庫数:<%= @product.stock %></p>
      <p>価格:<%= @product.price %></p>
    </div>
  </div>

  <div class="song-box">
    <div class="border-bottom">
      <h4>曲リスト</h4>
    </div>
    <% @product.discs.each do |discs| %>
      <p>Disc<%= discs.order %></p>
      <% discs.songs.each do |songs| %>
        <p><%= songs.order %>: <%= songs.name %></p>
      <% end %>
    <% end %>
  </div>

  <div class="review-box">
    <h4>レビュー一覧</h4>
    <div>
      <% @product.reviews.each do |review| %>
      <div class="border-top row">
        <div class="col-md-6 content3">
          <p>評価:　<%= review.rank %></p>
        </div>
        <div class="col-md-6 content3">
          <%= link_to "編集", edit_admin_review_path(review), class: "btn btn-primary" %>
          <%= link_to "削除", admin_review_path(review), method: :delete, class: "btn btn-danger", style: "margin-left: 10px;" %>
        </div>
      </div>
      <p>ユーザー名:　<%= review.customer.name_first %></p>
      <p>タイトル:　<%= review.title %></p>
      <p>本文:　<%= review.body %></p>
      <% end %>
    </div>
  </div>
</div>
