<div class="container">
	<h1><%=names%>登録</h1>

<%= form_for([:admin,alg]) do |f|%>

 <% if alg.errors.any? %>
 <div id="error_explanation">
 <ul>
      <% alg.errors.full_messages.each do |message| %>
         <li><%= message %></li>
      <% end %>

 </ul>
 </div>
 <%end%>
<div class="field">
<label class="col-sm-12 " style="font-size:20px;margin-top: 40px;"><%=names%>名</label><br>
<div class="col-sm-12">
 <%= f.text_field :name ,:size => "100x35"%>
  
 <%= f.submit "登録する", class: "btn btn-success btn-lg  float-right mt-20" ,style:"margin-top:30px;width:150px;"%>
 </div>
 </div>

<%end%>


</div>