<ul>
<% products.each do |product| %>
  <% if product.is_deleted == false %>
  <div class="product-box float-left">
    <li>
      <%= link_to product_path(product.id) do %>
        <%= attachment_image_tag product, :product_image, size:'198x200', fallback: "no_image.jpg", class: "image-border" %>
      <% end %>
      <% if product.stock <= 0 %>
        <p class="label label-none">在庫なし</p>
      <% elsif product.stock <= 5 %>
        <p class="label label-few">在庫僅少</p>
      <% end %>
      <p><%= link_to product.name, product_path(product.id) %></p>
      <% if product.artist_id.nil? %>
        <p>削除されたアーティスト</p>
      <% else %>
        <p><%= product.artist.name %></p>
      <% end %>
      <p><%= product.price %> 円</p>
      <div>
        <p>いいね<%= product.favorites.count %></p>
      </div>
    </li>
  </div>
  <% end %>
<% end %>
</ul>
