<div class="show-box">
  <div>
    <%= flash[:success] %>
    <%= flash[:alert] %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= attachment_image_tag @product, :product_image, size:'300x300', fallback: "no_image.jpg" %>
      <% if @product.stock <= 0 %>
        <p class="label label-none">在庫なし</p>
      <% elsif @product.stock <= 5 %>
        <p class="label label-few">在庫僅少</p>
      <% end %>
    </div>

    <div class="col-md-6">
      <div>
        <h3><%= @product.name %></h3>
        <% if @product.artist_id.nil? %>
          <p>削除されたアーティスト</p>
        <% else %>
          <p>アーティスト名:　<%= @product.artist.name %></p>
        <% end %>
        <hr>
        <p class="small font-weight-bold"><%= @on_sale %></p>
        <p>レビュー数(<%= @product.reviews.count %>)</p>
        <h3>¥ <%= @product.price %> (税込)</h3>
      </div>

      <div>
      <% if @product.on_sale && !@product.is_deleted && customer_signed_in? %>
        <%= form_for @item do |f| %>
          <%= f.hidden_field :product_id, :value => @product.id %>
          <%= f.select :amount, [ 1, 2, 3, 4, 5, 6, 7, 8, 9 ] %>
          <%= f.submit "カートに追加", class:"btn btn-secondary btn-sm" %>
        <% end %>
      <% end %>
      </div>
      <% if customer_signed_in? %>
      <div id="favorite_button_box">
        <%= render partial: 'favorite_button', locals: { product: @product } %>
      </div>
      <% end %>

      <div class="box-10">
        <h4>商品情報</h4><hr>
        <div>
          <% if @product.label_id.nil? %>
            <p>削除されたレーベル</p>
          <% else %>
            <p>レーベル名:     <%= @product.label.name %></p>
          <% end %>
          <% if @product.genre_id.nil? %>
            <p>削除されたジャンル</p>
          <% else %>
            <p>ジャンル:       <%= @product.genre.name %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="song-box">
    <div class="border-bottom">
      <h4>曲リスト</h4>
    </div>
    <ul>
      <% @product.discs.each_with_index do |discs, index| %>
      <li>Disc<%= index + 1 %>
        <ul>
          <% discs.songs.each_with_index do |song, index| %>
            <p><%= index + 1 %>: <%= song.name %></p>
          <% end %>
        </ul>
      <% end %>
    </ul>
  </div>


  <div class="review-box">
    <h4>レビュー一覧</h4>
    <ul>
      <% @product.reviews.each do |review| %>
      <li>
          <div class="border-top row">
           <!--星評価-->
           <div id="star-rate-<%= review.id %>"></div>
            <script>
            $('#star-rate-<%= review.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              half: true,
              readOnly: true,
              score: <%= review.rank %>,
            });
            </script>
          <!--/星評価-->
          </div>
      <% if review.customer.is_deleted == false %>
      <%=link_to review.customer.name_first, customer_reviews_path(review.customer) %></br>
      <% else %>
      <p>退会済みのユーザー</p>
      <% end %>
      <%= review.title %></br>
      <%= review.body %></br>
      </li>
      <% end %>
    </ul>

  </div>
</div>
