<h5>入荷履歴</h5>

<%= link_to "入荷登録", new_admin_arrival_path, class:"btn btn-primary" %>

  <div class="content-box3 row">
    <% @arrivals.each do |arrival| %>
    <div class="border-box col-md-5">
      <%= arrival.created_at.to_date %>
      <p>商品id:　<%= arrival.product.id %></p>
      <h5><%= link_to arrival.product.name, admin_product_path(arrival.product) %></h5>
      <h5><%= arrival.amount %>個</h5>
    </div>
    <% end %>
  </div>
