<!DOCTYPE html>
<html>
  <head>
    <title>NovaMedio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
      <%# ここで、一般ユーザーOR管理者で表示するヘッダーを切り替える %>
        <% if admin_signed_in? %>
          <%= render 'admins/shared/header'%>
        <% else %>
          <%= render 'customers/shared/header'%>
        <% end %>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <%= yield %>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </body>
</html>
